<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<p:messages id="messages" showDetail="true" />
	<h:form id="frmclientes" style="margin: 0 auto; width: 20%; margin-top: 20%">

		<p:fieldset id="fsclientes" legend="Cadastro de Cliente">
			<p:growl id="grlclientes" showDetail="true" />

			<h:panelGrid id="pgclientes" columns="2">

				<p:outputLabel id="lbemail" value="Email:" for="email" />
				<p:inputText id="email" value="#{clienteBean.cliente.email}"
					required="true" />


				<p:outputLabel id="lbsenha" value="Senha:" for="senha" />
				<p:password id="senha" value="#{clienteBean.cliente.senha}"
					required="true" />

				<p:outputLabel id="lbcpf" value="CPF:" for="cpf" />
				<p:inputMask id="cpf" value="#{clienteBean.cpf}" required="true"
					mask="999.999.999-99" />

				<p:outputLabel id="lbtelefone" value="Telefone:" for="telefone" />
				<p:inputMask id="telefone" value="#{clienteBean.cliente.telefone}"
					required="true" mask="(99) 9999-9999" />

			</h:panelGrid>

			<p:commandButton id="btnsalvar" icon="ui-icon-user" value="Salvar"
				action="#{clienteBean.salvar}" update="@form :messages" />

		</p:fieldset>

	</h:form>
</h:body>

	<script type="text/javascript" src="js/capt.mining.useskill.4-oracle.js"></script>
	<script type="text/javascript">
		//caso utilize JQuery no sistema, utilize o Jquery.ready() e o paramatro "waitdomready" = false 
		jQuery(document).ready(function(){
			try{
				useskill_capt_onthefly({
					client: "CARRINHO-COMPRAS", //nome abreviado do sistema monitorado
					version: 3, //versao do script de captura
		
// 					url: "http://easii.ufpi.br/useskill-capture/actions/create",
					url: "http://localhost:8080/oracle-test/backend/actions",
					waitdomready: false, //se for verdadeiro, aguarda o evento DOMContentLoaded ser disparado, caso contrario ja executa a captura
					sendactions: true, //enviar acoes para o servidor
					debug: true, //apresentar dados no console
					
					onthefly: true, //para scripts inseridos via onthefly
					plugin: false, //apenas para script via plugin do chrome
					
					captureback: false, //captura de eventos de voltar -> con
					capturehashchange: false, //capturar eventos de mudanca de hash
					jheat: false, //para sistemas baseados no jheat
					timetosubmit: 120, //periodicidade em segundos para envio de eventos
					
					//dados do usuario logado:
					username: "usuarioTeste", //pode ser retornado por funcao ou uma string
					role: "user", //pode ser retornado por funcao ou uma string
					oracleElements: ["#email", "#telefone", "#senha", ".cpf"]
				});
			} catch(e) {
				console.log('usability analytics stopped!');
			}
		});
	</script>
</html>