<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" template="index.xhtml">

	<ui:define name="centro">
		<style>
.primeira-coluna {
	width: 70%;
}

.segunda-coluna {
	width: 30%;
	display: inline;
}
</style>
		<script>
			function showDialog() {
				PF('dialogo').show();
			}
		</script>
		<p:tabView id="tvprodutos" style="min-height: 99%">
			<p:tab id="tbprodutos" title="Produtos">
				<h:form id="frmprodutos">
					<h:panelGrid id="pgprodutos" columns="2"
						columnClasses="primeira-coluna, segunda-coluna" cellpadding="0"
						cellspacing="0">
						<p:fieldset id="fsproddisp" legend="Produtos Disponíveis">
							<p:dataGrid id="produtosDisponiveis" var="produto"
								value="#{produtoBean.produtos}" lazy="true" rows="12"
								columns="4" paginator="true" paginatorPosition="bottom">
								<p:panel id="pnl" header="#{produto.descricao}"
									style="text-align:center">
									<h:panelGrid id="pgprod" columns="1" style="width:100%">
										<p:graphicImage id="improd" url="images/produto.png" width="70"
											height="60" />
										<h:outputText id="lbpreco" value="#{produto.precoUnitario}">
											<f:convertNumber pattern="R$ #,##0.00" />
										</h:outputText>
										<p:outputPanel>
											<p:commandButton id="btnadd" icon="ui-icon-plus"
												action="#{compraBean.adicionarNoCarrinho(produto)}"
												title="Adicionar no carrinho"
												update=":#{p:component('areaSelecao')}" />
											<p:commandButton id="btnfind" icon="ui-icon-search"
												title="Detalhes do Produto" oncomplete="showDialog()"
												update=":#{p:component('dialog')}">
												<f:setPropertyActionListener
													target="#{compraBean.produtoSelecionado}"
													value="#{produto}" />
											</p:commandButton>
										</p:outputPanel>
									</h:panelGrid>
								</p:panel>

								<p:draggable id="drag" for="pnl" revert="true" handle=".ui-panel-titlebar"
									stack=".ui-panel" />
							</p:dataGrid>
							<p:dialog id="dialog" header="Detalhes do Produto"
								widgetVar="dialogo" modal="true" appendTo="@(body)" width="400"
								height="200" draggable="false">
								<h:panelGrid id="pgdlg" columns="2">
									<p:outputLabel id="lbid" for="id" value="Id" />
									<h:outputText id="id"
										value="#{compraBean.produtoSelecionado.id}" />
									<p:outputLabel id="lbdesc" for="descricao" value="Descrição" />
									<h:outputText id="descricao"
										value="#{compraBean.produtoSelecionado.descricao}" />
									<p:outputLabel id="lbpreco" for="preco" value="Preço" />
									<h:outputText id="preco"
										value="#{compraBean.produtoSelecionado.precoUnitario}" />
									<p:outputLabel id="lbtipo" for="tipo" value="Tipo" />
									<h:outputText id="tipo"
										value="#{compraBean.produtoSelecionado.tipo}" />
								</h:panelGrid>
							</p:dialog>
						</p:fieldset>

						<p:fieldset id="produtoSelecionados"
							legend="Produtos selecionados">
							<p:outputPanel id="areaSelecao">
								<p:dataTable id="tabela" value="#{compraBean.itensCompra}"
									var="itemCarrinho" emptyMessage="Nenhum produto no carrinho"
									rows="5" paginator="true" paginatorPosition="bottom">
									<p:column id="colremover" width="40">
										<p:commandButton id="btnremover" icon="ui-icon-trash" title="Remover item"
											action="#{compraBean.remover(itemCarrinho)}" update="tabela" />
									</p:column>
									<p:column id="coldesc" headerText="Descrição">
										<h:outputText id="lbdesc" value="#{itemCarrinho.produto.descricao}" />
									</p:column>
									<p:column id="colquant" headerText="Quantidade" width="100">
										<p:inputText id="quant" value="#{itemCarrinho.quantidade}"
											style="width: 90px" />
									</p:column>
									<f:facet name="footer">
										<p:commandButton id="btnfinalizar" value="Finalizar compra" icon="ui-icon-check"
											action="#{compraBean.finalizarCompra()}"
											update=":#{p:component('produtoSelecionados')}" disabled="#{compraBean.itensCompra.isEmpty()}"/>
									</f:facet>
								</p:dataTable>

							</p:outputPanel>
						</p:fieldset>

						<p:droppable id="drop" for="produtoSelecionados" tolerance="touch"
							activeStyleClass="ui-state-highlight"
							datasource="produtosDisponiveis">
							<p:ajax listener="#{compraBean.selecionarUmProduto}"
								update="areaSelecao produtosDisponiveis" />
						</p:droppable>


					</h:panelGrid>

				</h:form>
			</p:tab>
		</p:tabView>
	</ui:define>

</ui:composition>