<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta charset="utf-8" />
	
</h:head>

<h:body>
	<h1>PROJETO CARRINHO DE COMPRAS</h1>
	
	<h:button value="BOTÃO JSF"></h:button>
	<br/>
	<hr/>
	<p:button value="BOTÃO PRIMEFACES"></p:button>
</h:body>
</html>