<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Sistema de treinamento JAVAEE 7</title>
	<style>
* {
	font-size: 11pt;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-unit {
	border: 0px !important;
}

.ui-layout-south .ui-layout-unit-content {
	overflow: hidden !important;
}
</style>
</h:head>
<h:body>

	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="65" minSize="40" maxSize="200">
			<h:form id="formMenu">
				<p:menubar id="menubar">
					<p:submenu id="smcadastro" label="Cadastro" icon="ui-icon-disk">
						<p:menuitem id="miproduto" value="Produto" url="produto.xhtml" />
						<p:menuitem id="micliente" value="Cliente" url="cliente.xhtml" />
					</p:submenu>

					<p:submenu id="smrelatorio" label="Relatorio" icon="ui-icon-suitcase">
						<p:menuitem id="miclientes" value="Clientes" />
						<p:menuitem id="miprodutos" value="Produtos" />
						<p:menuitem id="micompras" value="Compras" />
					</p:submenu>

					<p:menuitem id="micompra" value="Realizar Compra" url="compra.xhtml" />

					<p:submenu id="smlogout" label="#{usuarioBean.usuarioLogado.nome}"
						style="float: right; font-weight: bold" icon="ui-icon-person">
						<p:menuitem id="misair" value="Sair" action="#{usuarioBean.fazerLogout}" />
					</p:submenu>
				</p:menubar>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<ui:insert name="centro">
				Bem vindo
			</ui:insert>
		</p:layoutUnit>
		
		<div class="abc" id="teste1">123123</div>
		<div class="abc" id="teste2">asdsad</div>
		<div class="abcd" id="teste3">asdsad</div>
		
		<p:layoutUnit position="south" size="35"
			style="text-align: right; padding-right: 40px; font-weight: bold">
			<h:outputText value="&#169; Copyright 2017 - UFPI" />
		</p:layoutUnit>
	</p:layout>
</h:body>

<script type="text/javascript" src="js/capt.mining.useskill.4-oracle.js"></script>
<script type="text/javascript">

		//caso utilize JQuery no sistema, utilize o Jquery.ready() e o paramatro "waitdomready" = false 
		jQuery(document).ready(function(){
			try{
				useskill_capt_onthefly({
					client: "CARRINHO-COMPRAS", //nome abreviado do sistema monitorado
					version: 3, //versao do script de captura
		
// 					url: "http://easii.ufpi.br/useskill-capture/actions/create",
					url: "http://localhost:8080/oracle-test/backend/actions",
					waitdomready: false, //se for verdadeiro, aguarda o evento DOMContentLoaded ser disparado, caso contrario ja executa a captura
					sendactions: true, //enviar acoes para o servidor
					debug: false, //apresentar dados no console
					
					onthefly: true, //para scripts inseridos via onthefly
					plugin: false, //apenas para script via plugin do chrome
					
					captureback: false, //captura de eventos de voltar -> con
					capturehashchange: false, //capturar eventos de mudanca de hash
					jheat: false, //para sistemas baseados no jheat
					timetosubmit: 120, //periodicidade em segundos para envio de eventos
					
					//dados do usuario logado:
					username: "usuarioTeste", //pode ser retornado por funcao ou uma string
					role: "user", //pode ser retornado por funcao ou uma string,

					oracleElements: ["#teste1", "#teste2", "#teste3", ".abc"]
				});
			} catch(e) {
				console.log('usability analytics stopped!');
			}
		});
	</script>
</html>
