<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" template="index.xhtml">

	<ui:define name="centro">
		<p:tabView id="tabview">
			<p:tab id="tabproduto" title="Produto">
				<h:form id="frmcadastro">

					<p:growl id="grl" showDetail="true" sticky="false" />

					<p:messages id="messages" showDetail="true" showSummary="true" />
					<p:panel id="pnprodutos" header="Informações do Produto" closable="false"
						toggleable="true" toggleSpeed="0">

						<h:panelGrid id="pgprodutos" columns="3">
							<p:outputLabel id="lbid" value="Id" for="id" />
							<p:inputText id="id" value="#{produtoBean.produto.id}"
								disabled="true" />
							<p:message id="msid" for="id" />

							<p:outputLabel id="lbdescricao" value="Descrição do Produto" for="desc" />
							<p:inputTextarea value="#{produtoBean.produto.descricao}"
								id="desc" required="true" />
							<p:message id="msdescricao" for="desc" />

							<p:outputLabel id="lbtipo" value="Tipo do Produto" for="tipo" />
							<p:selectOneMenu value="#{produtoBean.produto.tipo}" id="tipo"
								required="true">
								<f:selectItem id="sinone" noSelectionOption="true" />
								<f:selectItem id="sium" itemLabel="Um" itemValue="UM" />
								<f:selectItem id="sidois" itemLabel="Dois" itemValue="DOIS" />
								<f:selectItem id="sitres" itemLabel="Tres" itemValue="TRES" />
							</p:selectOneMenu>
							<p:message id="mstipo" for="tipo" />

							<p:outputLabel id="lbpreco" value="Preço Unitário"
								for="pUnitario" />
							<p:inputText value="#{produtoBean.produto.precoUnitario}"
								id="pUnitario" required="true" />
							<p:message id="mspreco" for="pUnitario" />
						</h:panelGrid>
					</p:panel>

					<p:spacer />

					<div id="div" style="text-align: center">
						<p:commandButton id="btnsalvar" value="Salvar"
							action="#{produtoBean.salvar}"
							update="@form :#{p:component('table')}" icon="ui-icon-disk" />
						<p:commandButton id="btncancelar" value="Cancelar"
							action="#{produtoBean.cancelar}"
							update="@form" icon="ui-icon-cancel"
							process="@this">
							<p:resetInput target="form" />
						</p:commandButton>
						
						<p:commandButton id="btnreldin" value="Relatório Dinamico" ajax="false"
							icon="ui-icon-arrowthick-1-s" immediate="true">
							<p:fileDownload value="#{reportProdutoBean.relatorioDinamico}" />
						</p:commandButton>
						
						<p:commandButton id="btnrelreport" value="Relatório IReport" ajax="false"
							icon="ui-icon-arrowthick-1-s" immediate="true">
							<p:fileDownload value="#{reportProdutoBean.relatorioIReport}" />
						</p:commandButton>
					</div>
				</h:form>
				
				<p:spacer />
				<p:dataTable var="produto" value="#{produtoBean.produtos}"
					paginator="true" rows="5" paginatorPosition="bottom" lazy="true"
					id="table">
					<f:facet name="header">
						<div style="text-align: left">
							<h:outputText id="lblista" value="Lista de Produtos" />
							: #{produtoBean.produtos.rowCount}
						</div>
					</f:facet>
					<p:column id="colopcoes" width="90" headerText="Opções"
						style="text-align:center">
						<p:commandButton id="btnremover" action="#{produtoBean.remover(produto)}"
							icon="ui-icon-trash" process="@this"
							update="table :#{p:component('frmcadastro')}" />
						<p:commandButton id="btneditar" action="#{produtoBean.editar(produto)}"
							icon="ui-icon-pencil" process="@this"
							update="table :#{p:component('frmcadastro')}" />
					</p:column>
					<p:column id="colid" headerText="Id" width="50"
						style="text-align:center" sortBy="#{produto.id}">
						<h:outputText id="lbid" value="#{produto.id}" />
					</p:column>

					<p:column id="coldesc" headerText="Descrição"
						sortBy="#{produto.descricao}">
						<h:outputText id="lbdesc" value="#{produto.descricao}" />
					</p:column>

					<p:column id="coltipo" headerText="Tipo" width="90"
						style="text-align:center" sortBy="#{produto.tipo}">
						<h:outputText id="lbtipo" value="#{produto.tipo}" />
					</p:column>

					<p:column id="colpreco" headerText="Preço"
						width="180" style="text-align:right" sortBy="#{produto.precoUnitario}">
						<h:outputText id="lbpreco" value="#{produto.precoUnitario}">
							<f:convertNumber pattern="R$ #,##0.00" />
						</h:outputText>
					</p:column>
				</p:dataTable>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>






















